@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 174, 236);
    color: white;
}
form {
    background-color: rgb(0, 102, 255);
    width: 300px;
    border: 1px solid aqua;
    border-radius: 20px;
    margin: auto;
    height: 60vh;
    margin-top: 100px;
    padding: 10px;
    
}
div {
    margin-top: 45px;
}
form h2 {
    text-align: center;
}
form p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    width: 150px;
    padding: 7px;
    border-radius: 7px;
    border: none;
}
#pr {
    background-color: rgb(23, 23, 202);
    padding: 25px;
    border-radius: 18px;
}
.ppr {
    margin-top: -5px;
    text-align: center;
    color: rgb(0, 0, 255);
    
}
#ep {
    background-color: rgb(78, 188, 231);
    width: 240px;
}
a { 
    display: inline-block;
    background-color: rgb(80, 162, 235);
    text-align: center;
    width: 230px;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(0, 28, 151);
}
#rp {
    background-color: transparent;
    color: rgb(0, 195, 255);
}
footer {
    display: block;
    background-color: rgba(6, 72, 148, 0.644);
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}