@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(16, 174, 236);
    color: white;
}
form {
    background-color: rgb(0, 102, 255);
    width: 300px;
    border: 1px solid aqua;
    border-radius: 20px;
    margin: auto;
    height: 70vh;
    margin-top: 120px;
    padding: 15px;
    padding-bottom: 135px;
    
}
h2 {
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
#po {
     background-color: rgb(23, 23, 202);
    padding: 31px;
    border-radius: 18px;
    margin-top: 10px;
    padding-bottom: 20px;
}
#ptt {
    padding: 5px;
    text-align: center;
}
p {
    padding: 5px;
    margin-top: 5px;
}
#a {
    margin-top: 10px;

}
input {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 6px;
}
select {
    border-radius: 5px;
    padding: 6px;
}
option {
    background-color: rgb(16, 174, 236);
}
#er {
    width: 120px;
    text-align: center;
    border-radius: 6px;
    border: none;
    background-color: aqua;
}
#ew {
    text-align: center;
}